
.text-center {text-align: center;}

 .jumbotron { background:url(/tango/image/haike2.jpg) center no-repeat; background-size: cover;}
 .jumbotron h1{color:#FFF;}

 .button_wrapper{ text-align:center;}