<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
 <head>
 <meta charset="UTF-8" />
  <title>単語帳</title>
 </head>
 <body>
<table width="500" border="5" cellspacing="0" cellpadding="5" align="center">
  <tr>
    <td align="center" bgcolor="#f0f8ff">
      <br />
      <a href="/question" >問題</a><br /> 
      <br />
      <a href="/questionlist" >問題グループ</a><br />
      <br />
      <a href="/record" >記録</a> <br />
    </td>
  </tr>
</table>
 </body>
</html>   