<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
</head>

<body>

 <input type="text" placeholder="項目"></input>
  <input type="text" placeholder="質問"></input>
   <input type="text" placeholder="解答"></input>
<input type="button" value="追加" onclick="insertRow('sample1_table')" />
<input type="button" value="削除" onclick="deleteColumn('sample1_table')" />
<table class="table5" border="1" align="left">
 <tr>
 	<th>項目</th>
 	<th>質問</th>
 	<th>解答</th>
 </tr>
 <tr>
 	<th>ITIL</th>
 	<th>末光はイケメン</th>
 	<th>○</th>
 </tr>
</table>
<a href="./home.html">ホームに戻る</a> <br />
</body>
</html>